@model Telekomunikacije.ViewModels.NewReplyNewModel
@{
    ViewBag.Title = "Odgovor";
}


<h1>Odgovor | @Model.PostName</h1>

@using (Html.BeginForm("AddPostReply", "Post"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Content)
        @Html.TextAreaFor(x => x.Content, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(x => x.TopicId)
    <button type="submit" class="btn btn-default">Dodaj Odgovor</button>
}

