@model IEnumerable<Telekomunikacije.Models.Course> 
@{
    ViewBag.Title = "GetCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="list-group-item list-group-item-action flex-column align-items-start active">

        <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1">Kursevi</h2>
            @*<small>@item.Created</small>*@
        </div>
        <p class="mb-1">Ovde se nalaze svi kursevi na katedri telekomunikacije.</p>
        @*<small>primer</small>*@
    </div>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Ime Kursa
            </th>
            <th>
                ESPB
            </th>
            
        </tr>
    </thead>
  
   
    <tbody>
        <tr>
            <th>
                Druga Godina
            </th>
        </tr>
        @foreach (var item in Model.Where(c => c.Year == 2))
        {
        <tr>

            <td>
                @Html.ActionLink(@item.Name, "Enrolment", "Courses", new { id = item.Id }, null)
            </td>
               
            
            <td>
                @item.ESPB
            </td>
           

        </tr>
        }
    </tbody>
    <tbody>
        <tr>
            <th>
                Treca Godina
            </th>
        </tr>
        @foreach (var item in Model.Where(c => c.Year == 3))
        {
        <tr>

            <td>
                @Html.ActionLink(@item.Name, "Enrolment", "Courses", new { id = item.Id }, null)
            </td>
            <td>
                @item.ESPB
            </td>
           


        </tr>
        }
    </tbody>
    <tbody>
        <tr>
            <th>
                Cetvrta Godina
            </th>
        </tr>
        @foreach (var item in Model.Where(c => c.Year == 4))
        {
        <tr>

            <td>
                @Html.ActionLink(@item.Name, "Enrolment", "Courses", new { id = item.Id }, null)
            </td>
            <td>
                @item.ESPB
            </td>
           

        </tr>
        }
    </tbody>

</table> 



