@model Telekomunikacije.ViewModels.UserRoleViewModel
@{
    ViewBag.Title = "RoleInfo";
}
<h2>
    Role Korisnika @Model.UserName

</h2>
<ul>
    @foreach (var item in Model.Roles)
    {
        <li>
            @item
        </li>

    }
</ul>

@using (Html.BeginForm("AddRole", "Members", new { id = Model.Id }))
{
    <br />
    <br />
    @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.blabla, "Dodaj Rolu", new { @class = "form-control" })
    <br />
    <input type="submit" value="Dodaj Rolu" class="btn btn-success" onclick="return confirm('Da li ste sigurni da zelite da Dodate Rolu Korisniku @Model.UserName?')" />
}
@using (Html.BeginForm("DeleteRole", "Members", new { id = Model.Id }))
{
    <br />
    <br />
    @Html.DropDownList("RoleName", new SelectList(Model.Roles), "Izbrisati Rolu", new { @class = "form-control" })
    @Html.ValidationMessage("RoleName")
    <br />
    <input type="submit" value="Izbrisi Rolu" class="btn btn-danger" onclick="return confirm('Da li ste sigurni da zelite da izbrisete rolu?' )" />
}


